@CHARSET "UTF-8";

body {
	padding: 0px;
	margin:0px;
}

div {
	border: 1px dashed #000000;	
	font-size: 30px;
}

.red {
	padding: 20px;
	background-color: #ff0000;
}

.orange {
	background-color: #ff8800;	
}

.yellow {
	margin: 20px;
	background-color: #ffff00;	
}

.green {
	background-color: #00ff00;
}

.blue {
	background-color: #0000ff;	
}

.purple {
	background-color:purple;
}

.inline-block {
	display: inline-block;
}