@CHARSET "UTF-8";

body {
	background-color:#cccccc;
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 700px
	margin: 0 auto; /* 마진:0 auto 이면 페이지의 가운데로 보냄 */
	background-color: #FFFFFF;
}

#header {
	background-color: #98b5f8
}