<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/view/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>BbsServlet</display-name>
    <servlet-name>BbsServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsServlet</servlet-name>
    <url-pattern>/bbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateServlet</display-name>
    <servlet-name>DoUpdateServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.DoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateServlet</servlet-name>
    <url-pattern>/doUpdate</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>net.gondor.bbs.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>viewDiv</display-name>
    <servlet-name>viewDiv</servlet-name>
    <servlet-class>net.gondor.bbs.web.div.ViewDivPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewDiv</servlet-name>
    <url-pattern>/viewDiv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLayoutPageServlet</display-name>
    <servlet-name>ViewLayoutPageServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.div.ViewLayoutPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLayoutPageServlet</servlet-name>
    <url-pattern>/viewLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDaumServlet</display-name>
    <servlet-name>ViewDaumServlet</servlet-name>
    <servlet-class>net.gondor.bbs.web.div.ViewDaumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDaumServlet</servlet-name>
    <url-pattern>/daum</url-pattern>
  </servlet-mapping>
</web-app>